<!DOCTYPE html>
<html>
  <style>
    #title{
      color: rgb(101, 86, 177);
      padding: 8%;
    }
    h1{
      text-align: center;
      height: 5cm;
    }
    a{
      padding: 15%;
    }
  </style>
   <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
 
  </head>
  <body>
    <h1 id="title">
      Choose a Databse 
    </h1>
    
    <h1>
      <a class="navbar-brand mx-auto" href="players">
        Player Database
      </a>
    
      <a class="navbar-brand mx-auto" href="teams">
        Teams Database
      </a>
    </h1>
      
      
  </body>
</html>